body{
    margin:0;
    padding:0;
    min-height: 100vh;
    height: 100%;
    background-color: white;
}

/* header nastavitve */
header{
    padding:0;
    margin: 0;
    height: 15vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center; /* Postavi glavni vsebinski tok v center */
    align-items: center;
    position: relative;
}

.naslov{
    color: white;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.naziv{
    color: white;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.logoutButton{
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 80px;
    height: 50px;
    font-size: 13px;
}

.logoutButton-form{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    margin-right: 30px; /* 30px od desnega roba */
    position: absolute; /* Absolutno pozicioniran */
    right: 0;
    width: 10%;
    height: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;

}

/* design za prikaz dela za izbiranje dodajanja taska*/

.add_task{
    width: 98%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.add_task_button{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 120px;
    height: 60px;
}

/* design za izpis taskov */

.body_task{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 80%;
    height: 300px;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.task_inner{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 80%;
    height: 80%;
    display: flex;
}

.task_naslov{
    width: 50%;
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

/* podatki */
.podatki{
    width: 65%;
    margin-right: 5%;
}

.tip{
    margin-bottom: 20px;
    font-size: 110%;
    margin-bottom: 30px;
}


/* datumi */

.datumi{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.datum_zacetek{
    margin-bottom: 20px;
    font-size: 130%;
}
.datum_z_txt{
    margin: 0;
}

.datum_konec{
    margin-bottom: 20px;
    font-size: 130%;
}
.datum_k_txt{
    margin: 0;
}


/* gumbi */

.task_gumbi{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.delete_t{
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 140%;
    width: 80%;
    height: 60%;
}

.form_delete{
    width: 100%;
    height: 100%;
}